nav{
    background-color: #eee;
    display: flex;
    flex-direction: column;
}
nav a{
    flex: 1; /* Betyder att varje flex i detta fallet a i nav kommer att anpassas efter fönsterets storlek och bli lika stora */
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
}
nav a:hover{
    background-color: #ccc;
}
nav a:active{
    background-color: #222;
    color: white;
}