<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue - Introduktion</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="todo in todos" :key="todo.id">
                {{todo.id}} {{todo.title}}
            </li>
        </ul>

        <input id="input" type="text" v-model="newTodo">

        <button v-if="newTodo.length > 0" @click="addTodo">Lägg till</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    newTodo: '',
                    todos: [
                        {
                            id: 1,
                            title: 'Handla'
                        },
                        {
                            id: 2,
                            title: 'Städa'
                        },
                        {
                            id: 3,
                            title: 'Diska'
                        }
                    ]
                }
            },
            methods: {
                addTodo(){
                    this.todos.push({
                        id: this.todos.length + 1,
                        title: this.newTodo
                    })
                }
            }
        }).mount('#app')
    </script>
    
</body>
</html>