<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h1>Handlingslista</h1>

        <ul>
            <li v-for="item in items" :key="item.id">
                {{ item.id }} {{ item.title }}
            </li>
        </ul>

        <input type="text" v-model="newItem" placeholder="Skriv en vara">
        <button v-if="newItem.length > 0" @click="addItem">Lägg till</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        createApp({
            data(){
                return {
                    newItem: '',

                    items: [
                        {
                            id: 1,
                            title: 'Mjölk'
                        },
                        {
                            id: 2,
                            title: 'Bröd'
                        },
                        {
                            id: 3,
                            title: 'Ägg'
                        }

                    ]
                }
            },
            methods: {
                addItem(){
                    this.items.push({
                        id: this.items.length + 1,
                        title: this.newItem
                    })
                    this.newItem = ''
                }
            }
        }).mount('#app')
    </script>

    
</body>
</html>

<!-- Övning 11 – Ett lite större program (Handlingslista) Del 1
Utgå från 1-vue-dag2-lists-forts-1.html
Här använder vi ett objekt som sparas i en array och inte en array som sparar strängar som i
exemplet vue-introduktion-list-2.html och övning 5 och 6.
Du ska göra om kodexemplet så att det blir en handlingslista (nu är det en att-göra-lista). -->